<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YunGui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1B71CCE1BEB386F00C2BDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1B71CE71BEB386F00C2BDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1B71CF21BEB386F00C2BDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
